/*
* @Author: Marte
* @Date:   2017-11-22 16:54:58
* @Last Modified by:   Marte
* @Last Modified time: 2017-11-22 20:36:06
*/

ul li{
    list-style:none;
}
ul{
    margin:0;
    padding:0;
}
*{
    margin:0;
    padding:0;
}
.clear{
    clear:both;
}
.header img{
    width: 100%;
}
.tit{
    width:100%;
    background: #b9d8f9;
    height: 35px;
    line-height: 35px;
    margin-top:-5px;
}
.left-tit{
    padding-left:20px;
    line-height:30px;
    float: left;
}
.right-tit{
    float: right;
    padding-top: 10px;
}
.right-tit ul li{
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin:0px 10px;
    cursor: pointer;
}
.right-tit ul li:hover{
    color: red;
}
.left{
    width:20%;
    min-width:245px;
    height: 100%;
    float: left;
    overflow-x:hidden;
}
.ifr{
    width:245px;
    overflow-x:hidden;
    float: left;
}
.left-top{
    text-align: left !important;
    padding-left:10px;
}
.left-top a{
    width:80px;
    height: 40px;
    line-height:50px;
    cursor:pointer;
    display: block;
    float: left;
    text-decoration: none;
    color: #000;
}
.right{
    width:79%;
    float: right;
    text-align: center;
}
.itable{
    width:100%;
    overflow: hidden;
}
table{
    /* width:100%; */
    margin:50px auto 0px;
}

th{
    border: 1px solid #0058a3;
    background-color: #4bacff;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}
td {
    border: 1px solid #0058a3;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
tr:nth-child(odd) {
    background: #F4F4F4;
}
caption{
    text-align:center;
    color: #000;
}
.jtable-page-size-change select{
    width:80px;
}
.ifchart{
    width:100%;
    height: 100%;
}
#main{
    margin:50px auto;
    min-width:600px;
}